<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/dashboard.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/main.css") }}" rel="stylesheet">
	</head>
	<body>
		{% include 'partials/navbar.html' %}

		<a href = "/api_user_profile?token={{ token }}"><img class = "user-icon" src = "{{ url_for("static", filename = "media/default-user-icon.png") }}" alt = "EduConnect default user icon."></a>
	</body>

	<script>
		function setJwtToken() {
			localStorage.setItem("token", "{{ token }}")
		}

		setJwtToken()
	</script>
</html>
