<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for("static", filename = "styles/main.css") }}" rel="stylesheet">


    <title>Student Test</title>
</head>
<body>
	{% include 'partials/navbar.html' %}

    <section class="p-10">
        <div id="test-taker-container" class = "w-full h-full whitespace-nowrap">
            <div class = "test-taker-timer-container p-4 bg-gray-200 rounded-2xl w-max fixed right-2 bottom-2">
                <h2 class = "test-taker-timer montserrat-font font-medium">Seconds Left: <span id = "seconds-left" class = "text-indigo-600 plex-sans-font font-normal">0</span></h2>
            </div>

            <div class = "fixed bottom-2 left-1/2 transform -translate-x-1/2 w-max">
                <button disabled onclick = "move_test_taker_pages(-1)" id = "test-taker-prev-page-btn" class = "p-3 rounded-2xl bg-gray-200 inline-block align-top">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                    </svg>
                </button>
                <button onclick = "submit_test()" class = "p-3 rounded-2xl mx-2 bg-blue-600 text-white montserrat-font font-medium inline-block align-top">Submit</button>
                <button onclick = "move_test_taker_pages(+1)" class = "p-3 rounded-2xl bg-gray-200 inline-block align-top">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>

            {% for question_i, question in enumerate(questions) %}
                <div class = "test-taker-page w-full h-full rounded-2xl bg-gray-200 p-10 inline-block align-top">
                    <div>
                        <h2 class = "bg-gray-300 montserrat-font text-xl rounded-2xl p-3">{{ question["question"] }}</h2>
                    </div>
                    <div class = "grid grid-cols-2">
                        {% for option_i, option in enumerate(question["options"]) %}
                            <button id = "question-{{ question_i }}-option-{{ option_i }}" class = "question-{{ question_i }}-options test-taker-option-btn text-left p-4 font-medium m-4 rounded-2xl bg-gray-300 transition-all text-black" onclick = 'select_option({{ option_i }}, {{ question_i }})' >{{ option }}</button>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
<script src="{{ url_for('static', filename = 'scripts/test_taker_handler.js') }}"></script>
<script>
    handle_test_time({{ metadata["testduration"] }})
</script>
</html>