<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Your Assignments</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/partials/assignments.css") }}" rel="stylesheet">
	</head>
	<body>
		{% for i in range(0, len_assignments) %}
			<div class = "student-assignment-container">
				<ul>
					<li><p class = "student-assignment-subject">Subject: <span class = "student-assignment-field-value">{{ assignments[i]["subject"] }}</span></p></li>
					<li><p class = "student-assignment-startdate">Start: <span class = "student-assignment-field-value">{{ assignments[i]["startdate"] }}</span></p></li>
					<li><p class = "student-assignment-enddate">End: <span class = "student-assignment-field-value">{{ assignments[i]["enddate"] }}</span></p></li>
				</ul>
				<a download = "assignment.pdf" class = "student-assignment-download-btn" href="/api_download_assignment?assignment_id={{ assignments[i]['uaid'] }}">Download Assignment</a> <!-- This feature has not been implemented on the server-side yet. -->
			</div>
		{% endfor %}
	</body>
</html>
