<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/dashboard.css") }}" rel="stylesheet">
	</head>
	<body>
		<a href = "/api_user_profile?token={{ token }}"><img class = "user-icon" src = "{{ url_for("static", filename = "media/default-user-icon.png") }}" alt = "EduConnect default user icon."></a>
		<section class = "teacher-assignments-container rounded-corners border-thin-black padding-medium margin-medium">
			<h2>Publish Assignments</h2>
			<form action = "/api_create_assignment?token={{ token }}" method = "POST" class = "teacher-assignment-form" enctype = "multipart/form-data">
				<input name = "subject" required type = "text" placeholder = "Subject"></input><br>
				<label>Start Date</label><br>
				<input name = "startdate" type = "date"></input><br>
				<label>End Date</label><br>
				<input name = "enddate" type = "date"></input><br>
				<label>Choose Class</label>
				<select required name = "class">
					{% for teaching_class in teaching_classes %}
						<option>{{ teaching_class }}</option>
					{% endfor %}
				</select><br>
				<input name = "file" type = "file" accept = ".pdf" placeholder = "Select a PDF file"></input>
				<input type = "submit"></input>
			</form>
		</section>
	</body>

	<script>
		function setJwtToken() {
			localStorage.setItem("token", "{{ token }}")
		}

		setJwtToken()
	</script>
</html>
