<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/dashboard.css") }}" rel="stylesheet">
	</head>
	<body>
		<a href = "/api_user_profile?token={{ token }}"><img class = "user-icon" src = "{{ url_for("static", filename = "media/default-user-icon.png") }}" alt = "EduConnect default user icon."></a>
		<section class = "assignments-container">
			<h2>Your Assignments</h2>
			<iframe src = "/api_get_assignments?token={{ token }}" title = "assignments section">
			</iframe>
		</section>
	</body>

	<script>
		function setJwtToken() {
			localStorage.setItem("token", "{{ token }}")
		}

		setJwtToken()
	</script>
</html>
