<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Welcome to EduConnect</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/index.css") }}" rel="stylesheet">
	</head>
	<body>
		<div class = "main-container">
			<h1>Login to EduConnect</h1>
			<form class = "login-form" action = "/api_login" method = "POST">
				<input type="email" name="email" placeholder="Enter Email">
				<input type="password" name="password" placeholder="Enter Password">
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>
