<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Your Profile</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/profile.css") }}" rel="stylesheet">
	</head>
	<body>
		<section>
			<img class = "user-icon" src = "{{ url_for("static", filename = "media/default-user-icon.png") }}"></img>
			<ul>
				<li><p class = "user-field-title">Name: <span class = "user-field-value">{{ user.username }}</span></p></li>
				<li><p class = "user-field-title">School: <span class = "user-field-value"></span>{{ user.school }}</p></li>
				<li><p class = "user-field-title">Date of Birth: <span class = "user-field-value">{{ user.dob }}</span></p></li>
				<li><p class = "user-field-title">Grade: <span class = "user-field-value">{{ user.grade }}</span></p></li>
				<li><p class = "user-field-title">Section: <span class = "user-field-value">{{ user.section }}</span></p></li>
				<li><p class = "user-field-title">Email: <span class = "user-field-value">{{ user.email }}</span></p></li>
				<li><p class = "user-field-title">Role: <span class = "user-field-value">{{ user.role }}</span></p></li>
			</ul>
		</section>
	</body>
</html>
