:root {
	--background: #ffffff;
	--text-color: #141414;
	--primary: #000000;
	--secondary: grey;
	--highlight: lightskyblue;
	--hover-color: #00000040;
}

* {
	margin: 0;
	padding: 0;
	transition: 0.35s;
}

a, button, input[type=submit] {
	cursor: pointer;
}

input {
	width: 100%;
	padding: 2vh 2vw;
	border: 2px solid black;
	outline: none;
	margin: 10px 0;
}

input:focus {
	box-shadow: 0 0 10px var(--primary);
}

input::placeholder {
	color: var(--secondary);
}
