:root {
	--background: #ffffff;
	--text-color: #141414;
	--primary: #000000;
	--secondary: grey;
	--highlight: lightskyblue;
	--hover-color: #00000040;
}

* {
	margin: 0;
	padding: 0;
	transition: 0.35s;
}

h1, h2, h3, h4, h5, h6 {
	width: fit-content;
}

a, button, input[type=submit] {
	cursor: pointer;
}

input {
	width: 100%;
	padding: 2vh 2vw;
	outline: none;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 20px;
	border: 1px solid #caced1;
}

input:focus {
	box-shadow: 0 0 10px var(--primary);
}

input::placeholder {
	color: var(--secondary);
}

button {
	border: 1px solid #caced1;
	background: white;
}

button:hover {
	filter: invert(10%);
}

select {
	min-width: 100px;
	text-align: center;
	width: max-content;
	font-size: 20px;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	border: 1px solid #caced1;
	background: white;
	border-radius: 20px;
}

option {
	width: 100px;
}

.hide-overflow-x {
	overflow-x: hidden;
}

.hide-overflow-y {
	overflow-y: hidden;
}

.hide-overflow {
	overflow: hidden;
}

.scroll-overflow-x {
	overflow-x: scroll
}

.scroll-overflow-y {
	overflow-y: scroll
}

.scroll-overflow {
	overflow: scroll
}

.font-small {
	font-size: 10px;
}

.font-medium {
	font-size: 18px;
}

.font-large {
	font-size: 28px;
}

.margin-small {
	margin: 5px;
}

.margin-medium {
	margin: 20px;
}

.margin-large {
	margin: 50px;
}

.padding-small {
	padding: 5px;
}

.padding-medium {
	padding: 20px;
}

.padding-large {
	padding: 50px;
}

.center-in-parent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.fill-in-parent {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.min-width {
	width: fit-content;
	box-sizing: border-box;
}

.rounded-corners {
	border-radius: 20px;
}

.border-thin-black {
	border: 1px solid black;
}

.border-regular-black {
	border: 2px solid black;
}

.border-fat-black {
	border: 3px solid black;
}

.animate-fade-in {
	animation-name: fade-in;
	animation-duration: 1.5s;
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%
	}
}
