#test-taker-container {
    white-space: nowrap;
    position: relative;
}

.test-taker-page {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.test-taker-page-btns-container {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.test-taker-finalize-btn {
	background: blue;
	color: white;
}

.test-taker-correct-option-input {
	width: 125px;
}

.selected-option {
	filter: invert(100%);
}