<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>Your Tests</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for("static", filename = "styles/globals.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename = "styles/partials/tests.css") }}" rel="stylesheet">
	</head>
	<body>
		{% for i in range(0, len_tests) %}
			<div class = "student-test-container rounded-corners border-thin-black margin-medium padding-medium">
				<ul>
					<li><p class = "student-test-subject">Subject: <span class = "student-test-field-value">{{ tests[i]["subject"] }}</span></p></li>
					<li><p class = "student-test-startdatetime">Start: <span class = "student-test-field-value">{{ tests[i]["startdate"] + " @ " + tests[i]["starttime"] }}</span></p></li>
					<li><p class = "student-test-enddatetime">End: <span class = "student-test-field-value">{{ tests[i]["enddate"] + " @ " + tests[i]["endtime"] }}</span></p></lg>
					<li><p class = "student-test-testduration">Duration: <span class = "student-test-field-value">{{ tests[i]["testduration"] }} mins</span></p></li>
				</ul>

				<button class = "student-test-take-btn" onclick = "parent.window.location.href = '/api_take_test?token={{ token }}&test_id={{ tests[i]["utid"] }}'">Take Test</button>
			</div>
		{% endfor %}
	</body>
</html>
